
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  body {
    background-color: #fff;
  }
}


/* Navigation */
.navbar-custom {
  background-color: #fff;
}

#logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-left: 70px;
  height: 55px;
  background: #4aaaa5;  
}

/* Opacity when mouse hovers on logo */
#logo:hover {
  opacity: 0.8;
}

.navbar-right {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding-top: 2px;
  padding-right: 70px;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}

/* Body */
.description-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
  margin-bottom: 33px;
}

.description-content {
  background-color: #fff;  
  padding: 30px;
  margin-top: 32px;
}

.description-content > p {
  font-size: 16px;
  line-height: 30px;
  color: slategray;
  padding-top: 20px;
}

.description-text {
  padding-bottom: 20px;
}

#description-image {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}


@media only screen and (max-width: 767px) {

  .description-content {
    padding: 0;
    margin-top: 0;
  }
}


/* ----IMAGE NAV START---- */
#imageNav-area {
  width: 100%;
  padding: 30px 30px 43px;
  margin-top: 32px;
  background-color: #fff;
}

.imageNav-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: #4aaaa5;
  margin-bottom: 15px;
  
}

.imageNav-photo {
  width: 140px;
  height: 140px;
}

/* When hovering over a selection */ 
.imageNav-photo:hover {
  opacity: 0.6;
}

/* Border around selected visualization */
.imageNav-photo.active {
  border: 2px solid #4aaaa5;
}

#images {
  text-align: center;
  padding-top: 15px;  
}


/* Comparison Page */
.comparison-image:hover {
  opacity: 0.6;
}

.comparison-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #4aaaa5;
  text-align: center;
  margin-bottom: 10px;
}

